{% extends 'news/default.html' %}

{% load custom_filters %}

{% block title %}
posts
{% endblock title %}

{% block content %}
    <h1>Все публикации</h1>
    <h3>Количество всех публикаций: {{ posts|length }}</h3>

    <hr>
    {% if posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Начало публикации</td>
            </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.date_of_creation|date:'d.M.Y.' }}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Публикаций нет. :(</h2>
    {% endif %}
{% endblock content %}
