{% extends 'news/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<h1> {{ post.title|censor }} </h1>
<hr>
<h5 align="right">
    {% if post.post_category.all|length == 0 %}
    No category
    {% elif post.post_category.all|length == 1 %}
    Category:
    <br>
    {{ post.post_category.get }}
    {% else %}
    Categories:
    <br>
    {% for category in post.post_category.all %}
    {{ category }}
    <br>
    {% endfor %}
    {% endif %}
</h5>
<br>
<h5 align="right"> Posted on {{ post.date_of_creation|date:'d.M.Y.' }}</h5>
<h5 align="right"> by {{ post.author_of_post }}</h5>
<hr>
<h6 align="left"> {{ post.text|censor }} </h6>
<hr>
{% if perms.news.change_post and post.author_of_post == request %}
<a href="{% url 'post_edit' pk=post.id %}">Edit this post</a>
<br>
{% endif %}
{% if perms.news.delete_post %}
<a href="{% url 'post_delete' pk=post.id %}">Delete this post</a>
{% endif %}
{% endblock content %}
